<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>newsapp</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>HERECredentials</key>
	    <dict>
	        <key>AccesKeyId</key>
	        <string>qT3YojQzo9uwL-kqIaSmsQ</string>
	        <key>AccesKeySecret</key>
	        <string>gNCdqq0couv5jDzI7LF49zGDJJGQKg4nJQpYoFCtL-Lu-z8Rb3YmMnA4SmlXdbF3bP3dB4HQhUo-X1aYNyxU2A</string>
	    </dict>
	<key>UIRequiredDeviceCapabilities</key>
    <array>
       <string>location-services</string>
       <string>gps</string>
    </array>
    <key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
       <string>Esta aplicación necesita acceder a tu ubicación actual para mostrarla en el mapa.</string>
    <key>NSLocationWhenInUseUsageDescription</key>
       <string>Esta aplicación necesita acceder a tu ubicación actual para mostrarla en el mapa.</string>
    <key>NSMotionUsageDescription</key>
       <string>La detección de movimiento es necesaria para determinar ubicaciones más precisas, cuando no se encuentra ni se utiliza la señal GPS.</string>
</dict>
</plist>
